@import "tailwindcss";

@theme {
  /* Cores customizadas para os membros da família */
  --color-pai: #3b82f6;
  --color-mae: #ec4899;
  --color-filho: #10b981;
  --color-filha: #f59e0b;
  
  /* Cores de UI estilo SaaS */
  --color-brand-bg: #f8fafc;
  --color-brand-card: #ffffff;
  --color-brand-border: #e2e8f0;
}

/* Agora você pode usar classes como bg-pai ou text-mae em qualquer lugar */